main {
    font-family: sriacha, Arial, Helvetica, sans-serif;
    font-size: 3vw;
    text-align: justify;
    margin-top: 15vh;
}
main p {
    width: 30vw;
    margin-left: 2vw;
    padding: 5px;
}
.paragrafo-2 {
    background-color: #010F00;
}
.sessao-2 {
    color: white;
    margin-top: 6vh;
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    padding: 4em 0em 4em 0em;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}
.sessao-3 {
    margin-top: 6vh;
}
.paragrafo-4 {
    background-color: #495448;
}
.sessao-4 {
    margin-top: 5vh;
    color: white;
    background-image: url(../imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    padding: 4em 0em 4em 0em;

}
.sessao-5 {
    margin-top: 6vh;
}

